<nav class="ui three column menu">
  <header class="ui header item"> <a href="/"> Welcome </a></header>

  <div class="right menu">
    <img class="ui massive image" src="https://cdn.glitch.com/59ad0348-921d-4085-bee4-13596425583d%2Fsky1.png?1519842584344">
    <a id="dashboard" class="item" href="/dashboard"> <font color="blue" >Dashboard  </a></font>
    <a id="about" class="item" href="/about"><font color="blue" >About </a></font>
  </div>
</nav>

<script>
  $("#{{id}}").addClass("active item");
</script>

