{{> menu id="about"}}


  <section class="ui two grid segment">
   <section class="ui two column row">
    <div class="ui column">
    <p>
    <font size="6.5"> <h1>
    Contact Details</h1>  </font>
   <font size="4"> Dean Reidy, <br>
    Office 123, <br>
    Business building, <br>
    Waterford Instituite of Technology, <br>
    Waterford,<br>
    Ireland.
    </p></.font>
    </div>
    <div class="ui aligned column">
      <img class="ui medium image" src="https://cdn.glitch.com/59ad0348-921d-4085-bee4-13596425583d%2FWIT-Logo.jpg?1519314832803">
    </div>
   
  </section>
</section>
    
   
  <section class="ui two grid segment">
   <section class="ui two column row ">
    <div class="ui column">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11620.997382193573!2d-7.142529238376252!3d52.243133718422925!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4842c41310dd4131%3A0x4042f0dcf13f7cfe!2sWaterford+Institute+of+Technology!5e0!3m2!1sen!2sie!4v1519311138811" width="550" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="ui column">
      <p>
        <font size="4"> <i class = "large icon arrow circle left"></i> Here is a map of Waterford City using google maps. <br><br> This map has a red pin on my office which is located at the Waterford Instituite of Technology. <br> Please use the + and - signs on the bottom right of the map to zoom in and out. 
      </p>
    </div>
  </section>
</section>

 <footer class="ui center aligned segment">
  <a href="https://www.wit.ie/">Waterford Instituite of Technology </a>
</footer>

