{{> menu}}

<section class="ui center aligned middle aligned segment">
  <h2 class="ui header">
    {{bookmark.title}}
  </h2 class="ui header" >
  {{> listwebsites}}
</section>

 <footer class="ui center aligned segment">
  <a href="https://www.wit.ie/">Waterford Instituite of Technology </a>
</footer>