{{> menu id="dashboard"}}

<section class="ui segment">
  {{> listbookmarks}}
</section>

 

 <footer class="ui center aligned segment">
  <a href="https://www.wit.ie/">Waterford Instituite of Technology </a>
</footer>
  