{{> menu}}

<section class="ui center aligned middle aligned segment">
  <h1 class="ui header">
    <font size="10"> Welcome to my website <br><br> </font>
  </h1>

  <p>
    <font size="6"> <i> This is a small website which allows users to create and maintain different bookmarks for interesting and resourceful websites.<br><br> <i class = "icon share"> </i> Please see the Dashboard to view Resources. <i class = "icon reply">  </i></font>
  </p>
  <p>
    <font size="4">Users will be able to access multiple websites on 3 different resources which will help them to learn about each topic. HTML learning resources, CSS learning resources and JavaScript learning resources. </font>
  </p>
  <p>
    <img class="header-crest-img" src="https://cdn.glitch.com/59ad0348-921d-4085-bee4-13596425583d%2Flearning%20resources.png?1518795897558" alt="Resource image">
  </p>
  
</section>
  

  
  
  <section class="ui center aligned grid segment">
   <section class="ui three column row">
    <div class="ui column">
      <img class="ui medium image" src="https://cdn.glitch.com/59ad0348-921d-4085-bee4-13596425583d%2FHTML_Logo.png?1519145280667">
    </div>
    <div class="ui column">
      <img class="ui medium image" src="https://cdn.glitch.com/59ad0348-921d-4085-bee4-13596425583d%2Fcss2.png?1519146102454">
    </div>
    <div class="ui column">
      <img class="ui medium image" src="https://cdn.glitch.com/59ad0348-921d-4085-bee4-13596425583d%2Fjscript.png?1519146157853">
    </div>
  </section>
</section>
  

  
  
  <footer class="ui center aligned segment">
  <a href="https://www.wit.ie/">Waterford Instituite of Technology </a>
</footer>
  